@using NiksoftCore.SystemBase.Service
@{
    var sliderContents = (List<GeneralContent>)ViewBag.BigSlider;
}

<div class="row">
    @foreach (var item in sliderContents)
    {
        
    }
</div>

