@using NiksoftCore.SystemBase.Service
@{
    var contents = (List<GeneralContent>)ViewBag.Contents;
    var theContent = contents.FirstOrDefault();
}

<div class="section-header">
    <h5 class="subtitle">@theContent.Title</h5>
    <h2>@theContent.Header</h2>
    <span><i></i></span>
    <p>@theContent.Footer</p>
</div>

