@using NiksoftCore.ITCF.Service
@{
    var Logos = (List<Business>)ViewBag.Logos;
    var cc1 = 0;
}

@if (Logos.Count >= 6)
{
    @foreach (var item in Logos)
    {
        cc1++;
        if (cc1 == 1 || cc1 == 4)
        {
            @Html.Raw("<div class='row'>")

        }

        <div class="col-xs-4">
            <a href="/Business/Company/SingleCompany?Id=@item.Id">
                <img src="/@item.Logo" alt="partner logo">
            </a>
        </div>

        if (cc1 == 3 || cc1 == 6)
        {
            @Html.Raw("</div>")
        }

    }
}


