@using NiksoftCore.ITCF.Service
@{
    var companies = (List<Business>)ViewBag.Companies;
}

<div class="row">
    @foreach (var item in companies)
    {
        <div class="col-sm-3">
            <div class="feature-md">
                <img src="/@item.Image" alt="feature img">
                <h5>@item.CoName</h5>
                <p>
                    @item.Description
                </p>
            </div>
        </div>
    }
</div>

