
<div class="row isotope">
    <div class="col-md-12 col-sm-6 col-xs-12 isotope-item">
        <div class="widget widget_categories">
            <h4 class="widget-title">سایر اطلاعات</h4>
            <ul>
                <li><a href="/Business/BasketManage">سبد خرید</a></li>
                <li><a href="/Business/OrdersArchive">آرشیو خریدها</a></li>
                <li><a href="/Business/ActiveOrders">پیگیری خرید ها</a></li>
                <li><a href="/Business/publicProfile">پروفایل</a></li>
                <li><a href="/business/UserChangePass">تغییر رمز عبور</a></li>
                <li><a href="/Auth/Account/Logout">خروج</a></li>
            </ul>
        </div>
    </div>
</div>

