@using NiksoftCore.SystemBase.Service
@{
    var contents = (List<GeneralContent>)ViewBag.Contents;
    var categories = (IList<ContentCategory>)ViewBag.Categories;
    int cc1 = 0;
}

<div class="section-title dright top_120 bottom_90">
    <h2>خدمات بین الملل</h2>
    <div class="portfolio_filter">
        <ul>
            <li class="select-cat" data-filter="*">همه</li>
            @foreach (var item in categories)
            {
                <li data-filter=".cat-@item.Id">@item.Title</li>
            }
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="isotope_items row">
            @foreach (var item in contents)
            {
                cc1++;
                <a href="/Business" class="single_item link @Html.Raw("cat-" + item.CategoryId) col-md-4 col-sm-6 wow fadeInUp" data-wow-delay="@Html.Raw(((float)(cc1 * 2) / 10) +"s")">
                    <img src="~/@item.Image" alt="@item.Title">
                </a>
            }
        </div>
    </div>
</div>