@using NiksoftCore.ITCF.Service
@using Microsoft.AspNetCore.Http
@{
    var isAuthenticate = (bool)ViewBag.Logined;
    string isAuth = isAuthenticate ? "true" : "false";
}
<script>
    var isLogined = @isAuth;
</script>
<li id="wbasket" class="cart-btn">
    <a :href="isAuth ? '/Business/BasketManage' : '/Auth/Account/Login'">
        <i class="fa fa-shopping-cart"></i> <span class="cart-btn-count">{{basket.items.length}}</span>
    </a>
    <div v-if="isAuth" class="cart-items">
        <div class="cart">
            <ul>
                <li v-for="item in basket.items" class="cart-item">
                    <a href="#" class="remove-from-cart"><i class="icon-deletepassive"></i></a>
                    <a class="cover" :href="'/Business/ProductInCategory/SingleProduct/' + item.productId">
                        <img :src="'/' + item.image" :alt="item.title">
                    </a>
                    <p class="title">
                        <a :href="'/Business/ProductInCategory/SingleProduct/' + item.productId">{{item.title}}</a>
                    </p>
                    <span class="price"><span class="item-price-number">{{item.count}}</span></span>
                </li>
            </ul>

            <div class="sub-total">
                تعداد کل: <span>{{basket.items.reduce((a, b) => a + b['count'], 0)}}</span>
            </div>

            <a href="/Business/BasketManage" class="btn view-cart yellow">مشاهده سبد</a>
            <a href="#" v-on:click.prevent.stop="RemoveBasket()" class="btn white checkout">حذف سبد</a>
        </div>
    </div>
</li>



