@using NiksoftCore.ITCF.Service
@{
    ViewData["Title"] = "سبد خرید";
    Layout = "~/Areas/Business/Views/Shared/_FaLayout.cshtml";
}

<div id="basketmanage" class="content-wrapper">
    <section class="content-section">
        <div class="container">
            <div class="section-header">
                <h1>سبد خرید</h1>
                <span><i></i></span>
                <p>کارشناس فروش در خصوص سفارشات با شما تماس خواهد گرفت و نحوه خرید، قیمت محصول بصورت عمده، بسته بندی و نحوه ارسال سفارش شما را یاری خواهد داد. بعد از تایید خرید مبلغ پیش پرداخت برای شما نمایش داده خواهد شد و شما با پرداخت مبلغ معیین شده خرید خود را تکمیل خواهید کرد.</p>
            </div>

            <div class="row">
                <div class="col-md-9 col-content">
                    <div class="cart-table">
                        <table class="products-table">
                            <thead>
                                <tr>
                                    <th class="product-remove">&nbsp;</th>
                                    <th class="product-item">محصول</th>
                                    <th class="product-price">پیش پرداخت (ریال)</th>
                                    <th class="product-price">قیمت کل (ریال)</th>
                                    <th class="product-quantity">تعداد</th>
                                    <th class="product-subtotal">عملیات</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="item in basket.items" class="cart_table_item">
                                    <td class="product-remove">
                                        <a v-on:click.prevent.stop="RemoveBasketItem(item.id)" class="remove_products" href="#">close</a>
                                    </td>
                                    <td class="product-item">
                                        <img :src="'/' + item.image" alt="">
                                        <div class="title">
                                            <a href="#">{{item.title}}</a>
                                        </div>
                                    </td>
                                    <td class="product-price">
                                        <span class="amount">{{item.prePayment}}</span>
                                    </td>
                                    <td class="product-price">
                                        <span class="amount">{{(item.unitAmount * item.count) + item.transportAmount}}</span>
                                    </td>
                                    <td class="product-quantity">
                                        <div class="quantity">
                                            <input v-model="item.count" class="input-text qty text" type="number" value="1" name="quantity">
                                        </div>
                                    </td>
                                    <td class="product-subtotal">
                                        <a v-if="showPaymentLink(item.status)" :href="'/Business/PaymentStep/?Id=' + item.id" class="btn btn-warning btn-sm">پرداخت</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="col-md-3 col-sidebar">
                    <div class="sidebar">
                        <div class="row isotope">
                            <div class="col-md-12 col-sm-6 col-xs-12 isotope-item">
                                <div class="widget widget_categories">
                                    <h4 class="widget-title">سایر اطلاعات</h4>
                                    <ul>
                                        <li><a href="#">خرید های قبلی</a></li>
                                        <li><a href="#">پیگیری خرید ها</a></li>
                                        <li><a href="#">پروفایل</a></li>
                                        <li><a href="#">تغییر رمز عبور</a></li>
                                        <li><a href="#">آدرس های من</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>